.mySwiper {
    /* Đảm bảo swiper slides đều ở giữa */
    display        : flex;
    justify-content: center;
}

.swiper-slide {
    transition: transform 0.3s ease;
}

.swiper-slide {
    scale: 0.5;
}

.swiper-slide-active {
    scale     : 0.9;
    transform : scale(1);
    transition: all 0.3s ease;
}

.swiper-slide-prev,
.swiper-slide-next {
    scale     : 0.7;
    transform : scale(0.7);
    transition: all 0.3s ease;

}


.swiper-slide-nth-prev-2,
.swiper-slide-nth-next-2 {
    scale     : 0.5;
    transform : scale(0.7);
    transition: all 0.3s ease;


}