.mySwiper {
    /* Đảm bảo swiper slides đều ở giữa */
    display        : flex;
    justify-content: center;
}

.swiper-slide {
    transition: transform 0.3s ease;
    /* Đặt kích thước gốc của slide */
    transform : scale(0.8);
}



.swiper-slide-active {
    transform: scale(1);
    /* Slide ở giữa to hơn */
}

.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.8);
}

.swiper-slide-prev-prev,
.swiper-slide-next-next {
    transform: scale(0.9);
}